
<div class="nodes-title">

    <p1 id="p1">Отделения Белорусской железной дороги</p1>
    <br />
    <br />
</div>

<div class="nodes-container">


    <div class="nodes">

        <div class="node">
            <a href="../Views/Organisation/GetAll.cshtml">
                <p1 id="p1">Минское отделение Белорусской железной дороги</p1>
                <img src="~/images/minsk.jpg" class="node-image" />
            </a>
        </div>
        <br />
        <br />
        <div class="node">
            <a href="../Views/Organisation/GetAll.cshtml">
                <p1 id="p1">Гомельское отделение Белорусской железной дороги</p1>
                <img src="~/images/gomel.jpg" class="node-image" />
            </a>
        </div>
    </div>
    <br />
    <br />
    <div class="nodes">

        <div class="node">
            <a href="../Views/Organisation/GetAll.cshtml">
                <p1 id="p1">Витебское отделение Белорусской железной дороги</p1>
                <img src="~/images/vitebsk.jpg" class="node-image" />
            </a>
        </div>
        <br />
        <br />
        <div class="node">
            <a href="../Views/Organisation/GetAll.cshtml">
                <p1 id="p1">Брестское отделение Белорусской железной дороги</p1>
                <img src="~/images/brest.jpg" class="node-image" />
            </a>
        </div>
    </div>
    <br />
    <br />
    <div class="nodes">
        <div class="node">
            <a href="../Views/Organisation/GetAll.cshtml">
                <p1 id="p1">Барановичское отделение Белорусской железной дороги</p1>
                <img src="~/images/baranovichi.jpg" class="node-image" />
            </a>
        </div>
        <br />
        <br />
        <div class="node">
            <a href="../Views/Organisation/GetAll.cshtml">
                <p1 id="p1">Могилевское отделение Белорусской железной дороги</p1>
                <img src="~/images/mogilev.jpg" class="node-image" />
            </a>
        </div>
    </div>


</div>





















